.right__bar {
    &__drop_zone {
        border: 1px solid black;
        height: 300px;
        width: auto;
        text-align-last: center;
        background-color: tomato;
    }
    &__drop_zone_active {
        border: 1px solid black;
        height: 300px;
        width: auto;
        text-align-last: center;
        background-color: greenyellow;
    }
}
